Flows/flows.json
[{"id":"ffa77be2.744ba","type":"tab","label":"Smart Buzzer","disabled":false,"info":""},{"id":"19fc71d9.38fd0e","type":"ui_template","z":"ffa77be2.744ba","group":"dbaf5e93.ff3648","name":"","order":1,"width":"20","height":"4","format":"<!DOCTYPE html>\n\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>SVG wave animation</title>\n  <link rel=\"stylesheet\" href=\"style.css\">\n<style>\n  html{\n  background: #1d1d22;\n  height: 100vh;\n    \n}\n/* div{\n  --bg: radial-gradient(#000000 67%, rgba(0, 0, 0, 0) 68%);\n  background: linear-gradient(#ff1493 calc(50% - 13em), #ffff00 calc(50% + 13em));\n} */\n  body { overflow-y: hidden; /* Hide vertical scrollbar */ overflow-x: hidden; /* Hide horizontal scrollbar */ }\nbody{\n  height: 100%;\n  \n  margin: 0;\n}\ndiv.waves{\n  width: 99%;\n  bottom: 0;\n  /*height: 100%;*/\n  position: absolute;\n  z-index: 99;\n}\n.tutorial-link{\n  font-family: sans-serif;\n  text-align: center;\n  color: #f3f3f3;\n}\n.tutorial-link h2{\n  background: linear-gradient(90deg, #00b4db 0%, #224488 50%, #0083b0 100%);\n  background-clip: text;\n  -webkit-background-clip: text;\n  color: transparent;\n  \n}\n.tutorial-link a{\n  text-decoration: none;\n  background: linear-gradient(90deg, #00b4db 0%, #224488 50%, #0083b0 100%);\n  background-clip: text;\n  -webkit-background-clip: text;\n  color: transparent;\n  \n}\n\nsvg{\n  position: absolute;\n  width: 100%;\n  bottom: 0;\n  left: 0;\n  animation-name: move-left;\n  animation-duration: 4s;\n  animation-iteration-count: infinite;\n  animation-direction: alternate;\n}\n.spacer{\n  height: 100px;\n  width: 100%;\n}\n\n@keyframes example {\n  0%   {\n    left:0px;\n    top:0px;}\n  \n  50%  {\n    left:-2000px;\n    top:200px;}\n  \n  100% {\n    left:0px; \n    top:0px;}\n}\n\n\n  </style>\n  </head>\n<body>\n  \n  <div class=\"tutorial-link\">\n    <h1>Smart Buzzer</h1>\n    \n  </div>\n  <!-- Wave SVG Animation -->\n  <div class=\"waves\">\n    <svg width=\"100%\" height=\"200px\" fill=\"none\" version=\"1.1\"\n     xmlns=\"http://www.w3.org/2000/svg\">\n      <linearGradient id=\"grad1\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"0%\">\n        <stop offset=\"0%\" stop-color=\"#00B4DB\" />\n        <stop offset=\"50%\" stop-color=\"#224488\" />\n        <stop offset=\"100%\" stop-color=\"#0083B0\" />\n      </linearGradient>\n      <path \n        fill=\"url(#grad1)\" \n        d=\"\n          M0 67\n          C 273,183\n            822,-40\n            1920.00,106 \n          \n          V 359 \n          H 0 \n          V 67\n          Z\">\n        <animate \n          repeatCount=\"indefinite\" \n          fill=\"url(#grad1)\" \n          attributeName=\"d\" \n          dur=\"15s\"\n          attributeType=\"XML\"\n          values=\"\n            M0 77 \n            C 473,283\n              822,-40\n              1920,116 \n            \n            V 359 \n            H 0 \n            V 67 \n            Z; \n\n            M0 77 \n            C 473,-40\n              1222,283\n              1920,136 \n            \n            V 359 \n            H 0 \n            V 67 \n            Z; \n\n            M0 77 \n            C 973,260\n              1722,-53\n              1920,120 \n            \n            V 359 \n            H 0 \n            V 67 \n            Z; \n\n            M0 77 \n            C 473,283\n              822,-40\n              1920,116 \n            \n            V 359 \n            H 0 \n            V 67 \n            Z\n            \">\n        </animate>\n      </path>\n    </svg>\n  </div>\n  \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":220,"y":120,"wires":[[]]},{"id":"50139df2.a753b4","type":"ui_gauge","z":"ffa77be2.744ba","name":"","group":"28017ae6.5dbcfe","order":0,"width":"5","height":"5","gtype":"wave","title":"Buzzer 1","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":180,"y":320,"wires":[]},{"id":"7a583a2.4d6d644","type":"ui_gauge","z":"ffa77be2.744ba","name":"","group":"28017ae6.5dbcfe","order":0,"width":"5","height":"5","gtype":"wave","title":"Buzzer 2","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":200,"wires":[]},{"id":"3ab5a88a.2cfb58","type":"ui_gauge","z":"ffa77be2.744ba","name":"","group":"28017ae6.5dbcfe","order":0,"width":"5","height":"5","gtype":"wave","title":"Buzzer 3","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":220,"wires":[]},{"id":"e551f2a5.0bcb2","type":"ui_gauge","z":"ffa77be2.744ba","name":"","group":"28017ae6.5dbcfe","order":0,"width":"5","height":"5","gtype":"wave","title":"Buzzer 4","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":200,"wires":[]},{"id":"db15bab2.12f7a8","type":"ui_chart","z":"ffa77be2.744ba","name":"","group":"28017ae6.5dbcfe","order":4,"width":"20","height":"6","label":"Buzzer Presses","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":540,"wires":[[]]},{"id":"173b9db1.17061a","type":"inject","z":"ffa77be2.744ba","name":"","topic":"B1","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":500,"wires":[["db15bab2.12f7a8","f61c2a23.e5d13"]]},{"id":"5f0ec151.560388","type":"inject","z":"ffa77be2.744ba","name":"","topic":"B2","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":540,"wires":[["db15bab2.12f7a8","d0b6f918.214428"]]},{"id":"b629e42b.4ea488","type":"delay","z":"ffa77be2.744ba","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":220,"wires":[["35153df2.6e350a"]]},{"id":"f61c2a23.e5d13","type":"function","z":"ffa77be2.744ba","name":"buzzerPushed","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":440,"wires":[["50139df2.a753b4","b629e42b.4ea488"]]},{"id":"35153df2.6e350a","type":"function","z":"ffa77be2.744ba","name":"zeroAgain","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":220,"wires":[["50139df2.a753b4"]]},{"id":"dc10902c.1c1a3","type":"inject","z":"ffa77be2.744ba","name":"","topic":"B3","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":580,"wires":[["db15bab2.12f7a8","897c47c.2fcc238"]]},{"id":"b2ef444e.4e55c","type":"inject","z":"ffa77be2.744ba","name":"","topic":"B4","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":620,"wires":[["db15bab2.12f7a8","4d61aa3c.a0b174"]]},{"id":"d0b6f918.214428","type":"function","z":"ffa77be2.744ba","name":"buzzerPushed","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["7a583a2.4d6d644","208fe8e.88be698"]]},{"id":"897c47c.2fcc238","type":"function","z":"ffa77be2.744ba","name":"buzzerPushed","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":320,"wires":[["3ab5a88a.2cfb58","2541548a.43cccc"]]},{"id":"4d61aa3c.a0b174","type":"function","z":"ffa77be2.744ba","name":"buzzerPushed","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":300,"wires":[["e551f2a5.0bcb2","38b603c4.966bb4"]]},{"id":"208fe8e.88be698","type":"delay","z":"ffa77be2.744ba","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":140,"wires":[["9ad2ace2.d924d8"]]},{"id":"9ad2ace2.d924d8","type":"function","z":"ffa77be2.744ba","name":"zeroAgain","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":140,"wires":[["7a583a2.4d6d644"]]},{"id":"2541548a.43cccc","type":"delay","z":"ffa77be2.744ba","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":776.2000122070312,"y":133.1999969482422,"wires":[["1a21c528.45ca93"]]},{"id":"1a21c528.45ca93","type":"function","z":"ffa77be2.744ba","name":"zeroAgain","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":916.2000122070312,"y":133.1999969482422,"wires":[["3ab5a88a.2cfb58"]]},{"id":"38b603c4.966bb4","type":"delay","z":"ffa77be2.744ba","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":140,"wires":[["9315f432.dd0318"]]},{"id":"9315f432.dd0318","type":"function","z":"ffa77be2.744ba","name":"zeroAgain","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":140,"wires":[["e551f2a5.0bcb2"]]},{"id":"c45baaa6.2bd0f8","type":"inject","z":"ffa77be2.744ba","name":"","topic":"B1","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":640,"wires":[["db15bab2.12f7a8"]]},{"id":"3f68a190.c76566","type":"inject","z":"ffa77be2.744ba","name":"","topic":"B2","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":680,"wires":[["db15bab2.12f7a8"]]},{"id":"e48e781e.b87e2","type":"inject","z":"ffa77be2.744ba","name":"","topic":"B3","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":720,"wires":[["db15bab2.12f7a8"]]},{"id":"4c77c785.c1b29","type":"inject","z":"ffa77be2.744ba","name":"","topic":"B4","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":760,"wires":[["db15bab2.12f7a8"]]},{"id":"80e508.cd2a02f8","type":"ui_button","z":"ffa77be2.744ba","name":"","group":"28017ae6.5dbcfe","order":5,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"str","topic":"","x":340,"y":900,"wires":[["15989320.bf07ad","c1683601.e27e58"]]},{"id":"15989320.bf07ad","type":"function","z":"ffa77be2.744ba","name":"reset","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":820,"wires":[["db15bab2.12f7a8"]]},{"id":"d6919ddb.5f71c","type":"mqtt out","z":"ffa77be2.744ba","name":"","topic":"SmartBuzzer/config","qos":"0","retain":"false","broker":"1a8a1817.240848","x":690,"y":880,"wires":[]},{"id":"c1683601.e27e58","type":"function","z":"ffa77be2.744ba","name":"reset","func":"msg.payload='reset';\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":900,"wires":[["d6919ddb.5f71c"]]},{"id":"40636b29.a3d4d4","type":"mqtt in","z":"ffa77be2.744ba","name":"","topic":"SmartBuzzer/device/b1","qos":"0","datatype":"auto","broker":"1a8a1817.240848","x":120,"y":400,"wires":[["f61c2a23.e5d13"]]},{"id":"ef149aee.52ea9","type":"mqtt in","z":"ffa77be2.744ba","name":"","topic":"SmartBuzzer/device/b2","qos":"0","datatype":"auto","broker":"1a8a1817.240848","x":420,"y":380,"wires":[["d0b6f918.214428"]]},{"id":"d2b73746.acd968","type":"mqtt in","z":"ffa77be2.744ba","name":"","topic":"SmartBuzzer/device/b3","qos":"0","datatype":"auto","broker":"1a8a1817.240848","x":660,"y":420,"wires":[["897c47c.2fcc238"]]},{"id":"2e83130a.7f9f1c","type":"mqtt in","z":"ffa77be2.744ba","name":"","topic":"SmartBuzzer/device/b4","qos":"0","datatype":"auto","broker":"1a8a1817.240848","x":980,"y":400,"wires":[["4d61aa3c.a0b174"]]},{"id":"dbaf5e93.ff3648","type":"ui_group","z":"","name":"SmartBuzzer","tab":"da986d96.da9d28","order":1,"disp":false,"width":"20","collapse":false},{"id":"28017ae6.5dbcfe","type":"ui_group","z":"","name":"Dashboard","tab":"da986d96.da9d28","order":2,"disp":true,"width":"20","collapse":false},{"id":"1a8a1817.240848","type":"mqtt-broker","z":"","name":"hivemq","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"da986d96.da9d28","type":"ui_tab","z":"","name":"SmartBuzzer","icon":"dashboard","order":4,"disabled":false,"hidden":false}]